/* Reset de modelo de cajas */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90%;
    margin: 5%;
}

.item1 {
    grid-column: span 1;
}

.item2 {
    grid-column: span 1;
    margin-left: 25%;
}

.promoh1 {
    font-size: 50px;
    margin: 20px 20px 0 20px;
    text-align: center;
    color: #025157;
}

.promoh12 {
    font-size: 50px;
    margin: 0 20px 20px 20px;
    text-align: center;
    color: #025157;
}

.promop {
    margin: 20px;
    color: #46484c;
}

.button-promo {
    margin: 20px;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 5%;
}

nav {
    width: 70%;
    text-align: center;
}

nav>ul>li {
    display: inline-block;
    text-align: center;
    margin: 14px;
    font-family: "sans serif";
    font-size: 20px;
}

nav>ul>li>a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    color: #205056;
}

.actions {
    width: 20%;
}

.actions>* {
    padding: 10px;
}

.actions>a {
    text-decoration: none;
    outline: none;
    color: #025157;
}

.actions>button:hover {
    background-color: #67B54B;
}

#logo {
    width: 15%;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    width: 160px;
    height: 50px;
    color: white;
    background-color: #205056;
    border: none;
    border-radius: 5px;
    padding: 12px 14px;
    margin-right: 5px;
    margin-left: 5px;
}

.features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.features .feature-card .feature-content>* {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content img {
    width: 50px;
}

.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7E7E7E;
    font-weight: 400;
}

.features .feature-card .feature-content a {
    font-size: 16px;
    color: #67B54B;
    font-weight: 600;
    text-decoration: none;
}

.features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}

@media (max-wqueryidth: 575px) {
    body {
        background-color: yellow;
    }
    nav,
    .actions {
        display: none;
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100px;
        color: blue;
    }
    .banner>img {
        width: 50%;
    }
    .promo {
        flex-direction: column;
        max-width: 80%;
    }
    .publish {
        margin: 30px 50px;
        padding: 10px;
    }
    .publish>h3 {
        font-size: 25px;
        line-height: 1.2;
    }
    .features {
        display: grid;
        padding: 5% 10%;
        grid-template-columns: repeat(1, 1fr);
    }
}